@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto;
}

.body {
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links, .standard-text, .image-description, .footer, .welcome-image {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 10px;
    width: 120px;
    padding: 7px;
}

.quote {
    background-color: #e5e7eb;
}

.cta {
    background-color: #3882F6;
}

.cta-main-text {
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

li {
    list-style: none;

}

.links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding:100px;
    align-items: center;
}

.hero-content {
    flex-direction: column;
    width: 450px;
}

.standard-text {
    margin-bottom: 12px;
}

.welcome-image {
    background-color: grey;
    width: 350px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.information {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.image-text {
    border: 3px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.image-description {
    max-width: 200px;
}

.quote {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    align-items: flex-end;
}

.cta {
    margin: 100px;
    padding: 20px;
    display: flex;
}

.cta-text {
    display: flex;
    flex-direction: column;
}