@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto;
}

.body {
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
}

.links, .standard-text, .image-description, .footer, .welcome-image {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
    margin-left: 100px;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
}

.cta {
    background-color: #3882F6;
}

.cta-main-text {
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.header {
    display: flex;
}

.footer {
    margin-top: auto;
}

li {
    list-style: none;

}

.links {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.welcome-image {
    background-color: grey;
    width: 200px;
    height: 200px;
    margin-right: 100px;
}